#define INCL_WINSYS             /*   System values (and colors)       */
#define INCL_WINSTDDLGS         /*   OS/2 Standard Dialog definitions */
#define INCL_NLS                /*   DBCS window manager definition   */
#include <Os2.H>
#include "ViewRep.Ids"
 
HELPTABLE ID_VIEWREP
BEGIN
 HELPITEM ID_VIEWREP          ,ID_VIEWREP          ,ID_VIEWREP
 HELPITEM ID_MAINWINDOW       ,ID_VIEWREP          ,ID_VIEWREP
 HELPITEM ID_MSGPRINTDONE     ,ID_VIEWREP          ,ID_VIEWREP
 HELPITEM ID_MSGPRINTFAILED   ,ID_VIEWREP          ,ID_VIEWREP
END
 
HELPSUBTABLE ID_VIEWREP
BEGIN
 HELPSUBITEM  ID_VIEWREP              , ID_VIEWREP
END
 
STRINGTABLE PRELOAD MOVEABLE
BEGIN
 0                       , "-1:00000 (R) GPF VERSION 2.1"
 ID_MSGPRINTDONE         , "01:16432 Printing is complete."
 ID_MSGPRINTFAILED       , "02:16448 Printing failed. Verify that the print destination (device, file or queue) was correctly specified."
END
 
 
ICON   	ID_MAINWINDOW	PRELOAD C:\DEVELOP\VIEWREP\DOC2.Ico
 
WINDOWTEMPLATE ID_MAINWINDOW PRELOAD
BEGIN
  FRAME    "Report Preview",
           ID_MAINWINDOW,5,6,372,196,
           WS_VISIBLE | WS_SYNCPAINT | WS_CLIPSIBLINGS | WS_SAVEBITS | FS_SIZEBORDER ,
           FCF_SYSMENU | FCF_TITLEBAR | FCF_MINMAX 
   BEGIN
    WINDOW   "",FID_CLIENT,0,0,0,0,"MainWindow",WS_VISIBLE
             PRESPARAMS PP_BACKGROUNDCOLORINDEX,SYSCLR_APPWORKSPACE
     BEGIN
      CONTROL "",
               ID_LISTBOX,0,0,368,174,WC_LISTBOX,
               WS_VISIBLE | WS_TABSTOP | WS_GROUP | LS_NOADJUSTPOS | LS_HORZSCROLL 
               PRESPARAMS PP_FONTNAMESIZE,"8.Courier"
               PRESPARAMS PP_BACKGROUNDCOLORINDEX,CLR_WHITE
               PRESPARAMS PP_FOREGROUNDCOLORINDEX,CLR_DARKBLUE
               PRESPARAMS PP_HILITEBACKGROUNDCOLORINDEX,CLR_WHITE
               PRESPARAMS PP_HILITEFOREGROUNDCOLORINDEX,CLR_DARKBLUE
     END
   END
END
 
MENU        ID_MAINWINDOW PRELOAD
BEGIN
    MENUITEM "E~xit",ID_ACTIONEXIT,
             MIS_TEXT 
    MENUITEM "~Print",ID_ACTIONPRINT,
             MIS_TEXT ,
             MIA_DISABLED 
END
 
ACCELTABLE  ID_MAINWINDOW PRELOAD
BEGIN
   VK_F3        ,ID_ACTIONEXIT          ,VIRTUALKEY 
END
 
ICON   	2	PRELOAD MOVEABLE  C:\devtools\gpf\bitmap\GPFDUMMY.ICO
BITMAP 	2	PRELOAD MOVEABLE  C:\devtools\gpf\bitmap\GPFDUMMY.BMP
ICON   	ID_DOCUMENT	PRELOAD MOVEABLE  C:\DEVELOP\VIEWREP\DOC2.Ico
 
